*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #334454;
    font-size:16px;
}

section{
    background: #3c6efd;
    height:100vh;

}
.card{
    width:250px;
    position: relative;
    margin: 0 auto;
}
.card-perfil-img{
    padding: 0 10px 0 0;

}
.card-img {
    background-image: url(https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
    height: 300px;
    height: 294px;
    background-size: 128%;
    background-repeat: no-repeat;
    background-position: -25px 36px;
}


.card-icon{
    position: absolute;
    top:270px;
    left:20px;
    color:#fff;
    font-size:0.8rem;
}
.card-icon i{
    color:#fff;
    padding: 0 9px 0 0
}
.card-perfil{
    background-color: #e4f2fd;
    padding:12px 0 12px 20px
}
.card-perfil-img{
    display: inline-block;
    width:43px;
    height:50px;
    background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    border-radius: 50%;
    background-position: center center;
}
.card-perfil-img img {
    width:43px;
    height:50px;
    border-radius: 50px;
    display: inline-block;
    
}
.card-perfil-texto h4{
    color: #334454;
}
.card-perfil-texto p{
    color: #a1b2bc;
    font-size:0.8rem;
}
.card-perfil-texto{
    display: inline-block;
    position: relative;
    top:-10px;
    padding: 0 0 0 5px;
}




