*{
    margin: 0;
    padding: 0;
}

html{
    font-size:15px;
    font-family: 'Red Hat Display';
}
/* div{
    border:1px solid black;
} */
section{
    background-image: url(../images/pattern-background-desktop.svg);
    height:100vh;
    background-size: cover;
}
.card{
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 350px;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    overflow: hidden;

}

.card-img{
    background-image: url(../images/illustration-hero.png.svg);
    background-repeat: no-repeat;
    height:200px;
    background-size: 110%;
    background-position: -10px 0;
}
.card-info{
    text-align: center;
    width:80%;
    margin: 10px auto;
    color:rgb(122, 122, 122);
}
.card-info h3{
    padding: 20px 0 10px 0;
    font-size:1.7rem;
    font-weight:100;
    color: black;
    font-weight: 1000;

}
.card-info p{
    padding: 5px 0 15px 0;
    color:rgb(122, 122, 122);
}
.card-pagar{
    margin: 0 auto;
    background: #e5e6f361;
    width: 70%;
    border-radius: 9px;
    padding: 18px 15px;
}
.card-pagar-icono{
    background-image: url(../images/icon-music.svg);
    width: 30px;
    height: 30px;
    border-radius:50%;
    margin: 0 0 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
.card-pagar-texto{
    display: inline-block;
    margin: 0 0 0 16px;
}
.card-pagar-texto p{
    color:rgb(122, 122, 122);
}
.card-pagar-enlace{
    display: inline-block;
    position: relative;
    top:-10px;
    left:60px;
    font-size:0.9rem;
    font-weight: 600;
}
.boton1{
    color: white;
    margin: 10px auto; 
    display: block;
    width:80%;
    height: 40px;
    background: #4b4bc9;
    font-size: 0.8rem;
    margin: 20px auto 10px auto;
    
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 25px -7px rgb(84, 64, 201);
}


.boton2{
    color: rgb(114, 114, 114);
    margin: 10px auto; 
    display: block;
    font-size: 0.8rem;
    font-weight:700;
    width:80%;
    height: 40px;
    background: #fff;
    border: none;
}

